#root {
	height: 100vh;
	position: relative;
}

/* fonts */
@font-face {
	font-family: eastern-promise;
	src: url(./fonts/eastern-promise.ttf);
}

@font-face {
	font-family: illyrian;
	src: url(./fonts/illyrian.ttf);
}

@font-face {
	font-family: lerto;
	src: url(./fonts/lerto.ttf);
}

@font-face {
	font-family: messing-around;
	src: url(./fonts/messing-around.ttf);
}

@font-face {
	font-family: lc;
	src: url(./fonts/lc.ttf);
}

@font-face {
	font-family: DARKAB__;
	src: url(./fonts/DARKAB__.ttf);
}

@font-face {
	font-family: sprykski;
	src: url(./fonts/sprykski.otf);
}

@font-face {
	font-family: roswreck;
	src: url(./fonts/roswreck.ttf);
}